* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px rebeccapurple solid; */
  font-family: OpenSans;
}
#root {
  overflow: hidden;
  box-sizing: border-box;
  height: 99vh;
  @media (max-width: 768px) {
    overflow-y: auto;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
